<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

   <extension-point id="type" name="Patterns Type" schema="schema/type.exsd"/>
   <extension-point id="model" name="Patterns Model" schema="schema/model.exsd"/>
   <extension-point id="metric" name="Patterns Metric" schema="schema/metric.exsd"/>
   <extension-point id="metricCalculator" name="Metric Calculator" schema="schema/metricCalculator.exsd"/>
   <extension point="com.aljoschability.eclipse.grepadeto.type">
      <type
            id="normal"
            name="Normal Pattern">
      </type>
   </extension>
   <extension point="com.aljoschability.eclipse.grepadeto.metric">
      <metric
            acronym="NOM"
            id="com.aljoschability.patterns.metric.nom"
            name="Number of Methods">
      </metric>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stapade -->
      <package
            uri="http://www.aljoschability.com/eclipse/grepadeto/2013"
            class="com.aljoschability.eclipse.grepadeto.GrepadetoPackage"
            genModel="model/grepadeto.xcore"/>
   </extension>

</plugin>
